// configurable description Color
.product-detail-description-title {
    color: $tsp-product-page-detail-description-title-color;
}

.product-detail-description-text {
    margin-bottom: $spacer-lg;
    color: $tsp-product-page-detail-description-text-color;
}