.product-box {

    background-color: $tsp-product-box-background-color;

    .product-wishlist {
        // Display wishlist button by theme setting
        @if $tsp-product-box-show-wishlist-button-switch == 0 {
            display: none;
        }
    }
    // Product name color 
    .product-name {
        color: $tsp-product-box-title-color;
    }

    // Change product price color appearence
    .product-price {
        color: $tsp-product-box-price-color;
    }

    // Change cheapest product variants price hint color
    .product-cheapest-price {
        color: $tsp-product-box-variants-from-color;
    }

    // Assigns descrption color
    .product-description {
        color: $tsp-product-box-description-color;
    }

    // Switch border appereance
    @if $tsp-product-box-border-enabled == 1 {
        // Border color of the product box
        border: 1px solid $tsp-product-box-border-color;

        // Border radius from theme config
        border-radius: $tsp-product-box-border-radius;
    } @else {
        border: none;
    }

    // Switch border hover appereance
    @if $tsp-product-box-border-hover-enabled == 1 {
        // Border hover color
        &:hover {
            // Border hover color of the product box
            border: 1px solid $tsp-product-box-border-hover-color;

            // Border hover radius from theme config
            border-radius: $tsp-product-box-border-radius;
        }
    }

    // Add to shopping card button
    .btn-buy {
        background-color: $tsp-product-box-add-to-shopping-card-button-background-color;
        color: $tsp-product-box-add-to-shopping-card-button-font-color;
        border-radius: $tsp-product-box-add-to-shopping-card-border-radius;
        height: $tsp-product-box-add-to-shopping-card-height;
    }

    // Details Button
    .btn-detail {
        align-content: center;
        background-color: $tsp-product-box-details-button-background-color;
        color: $tsp-product-box-details-button-font-color;
        border-radius: $tsp-product-box-details-border-radius;
        height: $tsp-product-box-details-height;
    }

    // Added to wishlist button color
    .product-wishlist-added {
        background-color: $tsp-product-box-added-to-wishlist-button-color;
    }

    // Added to wishlist icon color
    .icon-wishlist-added {
        color: $tsp-product-box-added-to-wishlist-icon-color;
    }

    // Added not added to wishlist button color
    .product-wishlist-not-added {
        background-color: $tsp-product-box-added-not-to-wishlist-button-color;
    }

    // Added not added to wishlist icon color
    .icon-wishlist-not-added {
        color: $tsp-product-box-added-not-to-wishlist-icon-color;
    }

    // Switch hover effect wishlist button / icon
    @if $tsp-product-box-wishlist-hover-switch == 1 {
        .icon-wishlist, .product-wishlist-btn{  
            &:hover {
                color: $tsp-product-box-wishlist-icon-color-hover;                          
                background-color: $tsp-product-wishlist-button-color-hover;
            }
        }
    }
}