.product-box {

    // Product name color 
    .product-name {
        color: $tsp-product-box-title-color;
    }

    // Change product price color appearence
    .product-price {
        color: $tsp-product-box-price-color;
    }

    // Change cheapest product variants price hint color
    .product-cheapest-price {
        color: $tsp-product-box-variants-from-color;
    }

    // Switch border appereance
    @if $tsp-product-box-border-enabled == 1 {
        // Border color of the product box
        border: 1px solid $tsp-product-box-border-color;

        // Border radius from theme config
        border-radius: $tsp-product-box-border-radius;
    } @else {
        border: none;
    }

    // Switch border hover appereance
    @if $tsp-product-box-border-hover-enabled == 1 {
        // Border hover color
        &:hover {
            // Border hover color of the product box
            border: 1px solid $tsp-product-box-border-hover-color;

            // Border hover radius from theme config
            border-radius: $tsp-product-box-border-radius;
        }
    }

    // Add to shopping card button
    .btn-buy {
        background-color: $tsp-product-box-add-to-shopping-card-button-background-color;
        color: $tsp-product-box-add-to-shopping-card-button-font-color;
        border-radius: $tsp-product-box-add-to-shopping-card-border-radius;
        height: $tsp-product-box-add-to-shopping-card-height;
    }

    // Added to wishlist button color
    .product-wishlist-added {
        background-color: $tsp-product-box-added-to-wishlist-button-color;
    }

    // Added to wishlist icon color
    .icon-wishlist-added {
        color: $tsp-product-box-added-to-wishlist-icon-color;
    }
}