.header-search-input {
    border-right: 0;
    background-color: $tsp-header-searchbar-background-color;
    color: $tsp-header-searchbar-text-color;

    &:focus {
        color: $tsp-header-searchbar-text-color;
        background-color: $tsp-header-searchbar-background-color;
        &,
        ~ .header-search-btn,
        ~ .header-close-btn {
            border-color: $primary;
        }
    }
}
.header-search-input::placeholder{
    color: $tsp-header-searchbar-placeholder-color;
}
